MAILCOACH_BASE_URL=
MAILCOACH_API_TOKEN=
MAILCOACH_CONTACT_ADMIN_TEMPLATE=
MAILCOACH_CONTACT_USER_TEMPLATE=

GOHIGHLEVEL_API_TOKEN=
GOHIGHLEVEL_LOCATION_ID=

CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=
CONTACT_FROM_NAME=
CONTACT_ADMIN_GREETING_NAME=

PUBLIC_DEBUG_CONTACT=
